.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  background-color: #2D2F46;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.infosection {
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.infosection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
  margin-left: 2vw;
  text-align: center;
}

.wall-node {
  background-color: black;
}

.path-node {
  background-color: greenyellow;
}

.visited-node-info-section {
  animation: backgroundColorChange 3s infinite alternate;
  transition: background-color 1s ease;
}

@keyframes backgroundColorChange {
  0% {
    background-color: #30d5c7; /* Light Blue */
  
  }
  100% {
    background-color: #5f00b8; /* Dark Purple */
  }
}
